:root {
	--radio-checked: #001dff;
	--radio-unchecked: #333;
	--font-size: 1rem;
	--font-color: #111;
	--radio-filled-font-color: #666;
	--radio-dimensions: calc(var(--font-size) - 4px);
}

#questions {
	font-size: var(--font-size);
}

.question-container {
	color: var(--font-color);
	margin-top: 1.25rem;
	margin-bottom: .75rem;
}

.question-container:has(input[type="radio"]:checked + label) {
	color: var(--radio-filled-font-color);
}

.question {
	font-weight: bold;
}

.flex-row {
	display: flex;
}

.options {
	justify-content: space-around;
	/* width: 40rem; */
	width: 100%;
}

/* Hide the default radio input */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

label {
  position: relative;
  padding-left: 30px; /* Space for the custom radio appearance */
  cursor: pointer;
}

label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--radio-dimensions);
  height: var(--radio-dimensions);
  border: 2px solid var(--radio-unchecked);
	margin: 2px;
  border-radius: 50%;
}

label:hover::before {
  border-color: var(--radio-checked);
}

input[type="radio"]:checked + label::before {
  background-color: var(--radio-checked);
	/* This box shadow creates awesome gap between the border and background
	 * color
	 */
	box-shadow: inset 0 0 0 3px white; 
  border-color: var(--radio-checked);
	animation: growEffect 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
input[type="radio"]:checked + label {
  color: var(--radio-checked);
	font-weight: bold;
	animation: changeColor 0.7s ease-out;
}

@keyframes growEffect {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes changeColor {
	0% {
		color: var(--font-color);
	}
	100% {
		color: var(--radio-checked);
	}
}